<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ faculty[1] }} - Profile</title>
    <link rel="stylesheet" href="/static/facultystyle.css">
</head>
<body>
    <header> 
        
            <div class="logo">
        
            <img src="/static/image/logo2.png" height="60" width="60"><br> <p><strong>ALAGAPPA UNIVERSITY
State University <br>| A++ by NAAC (CGPA : 3.59) Dual Mode in the 4th Cycle | Category - I University by UGC <br>
Karaikudi - 630 003, Tamil Nadu, India</strong></p><br>
<img src="/static/image/founder_logo.png" height="60" width="60">
                       
</div>
        <h1>ALAGAPPA FACULTY DIRECTORY SYSTEM</h1>
            <div>
            <nav>
                <ul>
                   <li><a href="/">home</a></li>
        <li><a href="/showfaculty">faculty</a></li>
        <li><a href="/login">admin page</a></li>
        <li><a href="/about">about us</a></li>
                </ul>
            </nav>
            </div>
        </header>
<div class="profile">
    <h1>{{ faculty[1] }}</h1>
    <img src="{{ url_for('static', filename='photos/' ~ faculty[7]) }}"  onerror="this.onerror=null; this.src='/image/image_icon.jpg';" alt="Image" width="150">
    

    <p><strong>Title:</strong> {{ faculty[2] }}</p>
    <p><strong>Department:</strong> {{ faculty[3] }}</p>
    <p><strong>Email:</strong> {{ faculty[4] }}</p>
    <p><strong>Phone:</strong> {{ faculty[5] }}</p>
    <p><strong>Bio:</strong> {{ faculty[6] }}</p>
    <a href="/showfaculty">Back to List</a>
</div>
<div class="video-background">
    <video autoplay loop muted playsinline>
      <source src="/static/video/tronlegacy2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
<footer>
            <div class="footer"> 
                <a href="https://www.alagappauniversity.ac.in/homepage">CLICK HERE<br>FOR INFORMATION VISIT OUR OFFICIAL WEBSITE</a>  
                <center><br>© 2025 Alagappa University, Karaikudi, Tamilnadu</center>
            </div>
        </footer>
</body>
</html>