<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login - Faculty Directory</title>
     <link rel="stylesheet" href="/static/facultystyle.css">
</head>
<body class="container py-5">
  <header> 
        
            <div class="logo">
        
            <img src="/static/image/logo2.png" height="60" width="60"><br> <p><strong>ALAGAPPA UNIVERSITY
State University <br>| A++ by NAAC (CGPA : 3.59) Dual Mode in the 4th Cycle | Category - I University by UGC <br>
Karaikudi - 630 003, Tamil Nadu, India</strong></p><br>
<img src="/static/image/founder_logo.png" height="60" width="60">
                       
</div>
        <h1>ALAGAPPA FACULTY DIRECTORY SYSTEM</h1>
            <div>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/showfaculty">faculty</a></li>
                    <li><a href="/login">admin page</a></li>
                    <li><a href="/about">about us</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <br>
        <br>
  <center>
  <div class="login-container">
    <h2>Admin Login</h2>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post">
      <input type="text" name="username" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="Login">
    </form>
  </div>
</center>
   <div class="video-background">
    <video autoplay loop muted playsinline>
      <source src="/static/video/tronlegacy2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
        <footer>
            <div class="footer"> 
                <a href="https://www.alagappauniversity.ac.in/homepage">CLICK HERE<br>FOR INFORMATION VISIT OUR OFFICIAL WEBSITE</a>  
                <center><br>© 2025 Alagappa University, Karaikudi, Tamilnadu</center>
            </div>
        </footer>
</body>
</html>
